{% load humanize %}

{% block content %}
    <li class=" border-slate-700 mt-5 flex">
        <div class="w-64 sm:w-72 mr-4">
            <a href="{% url 'single-video' video.id.videoId %}" rel="nofollow noreferrer">
                <img class="rounded-lg h-36 sm:h-44" src="{{ video.snippet.thumbnails.medium.url }}" alt="{{ video.snippet.title }} image" title="{{ video.snippet.title }}">
            </a>
        </div>
        <div class="flex flex-col w-2/3">
            <a href="{% url 'single-video' video.id.videoId %}">
                {% autoescape off %}
                    <span class="text-sm sm:text-base text-slate-200 font-medium">{{ video.snippet.title }}</span>
                {% endautoescape %}
            </a>

            <p class="mt-2 text-gray-400 font-medium">
                <small>{{ video.videoData.statistics.viewCount|intcomma }} views |</small>
                <small>{{ video.snippet.publishTime|naturaltime }}</small>
            </p>

            <div class="my-2">
                <a class="flex items-center" href="https://www.youtube.com/channel/{{ video.channelData.id }}" target="_blank" rel="nofollow noreferrer">
                    <img class="h-7 rounded-full mr-2" src="{{ video.channelData.snippet.thumbnails.default.url }}" alt="{{ video.snippet.channelTitle }} image" title="{{ video.snippet.channelTitle }}" />
                    <small class="text-gray-400 text-sx sm:text-sm">{{ video.snippet.channelTitle }}</small>
                </a>
            </div>

            <small class="text-gray-400 text-sm hidden sm:block">{{ video.snippet.description }}</small>
        </div>
    </li>
{% endblock %}
