<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}Youtube videos {% endblock %} | YouTube Filters</title>

    {% include 'layouts/css.html' %}
</head>

<body class="bg-slate-900 text-white">
    <div class="container p-4 mx-auto">
        {% include 'layouts/navbar.html' %}        

        <div class="mt-4">
            {% block content %} {% endblock %}
        </div>
    </div>

    {% include 'layouts/js.html' %}
</body>
</html>
