{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %} YouTube Filters {% endblock %} </title>

    {% include 'layouts/css.html' %}
</head>

<body class="bg-slate-900 text-white">
    <div class="container p-4 mx-auto">
        <nav class="border-b-2 border-gray-600 py-4 shadow md:flex md:items-center
                md:justify-between">
            <div class="flex justify-between items-center">
                <a href="{% url 'home' %}">
                    <span class="text-2xl font-[Poppins]">
                        <img class="h-8 inline cursor-pointer" src="{% static 'media/images/tailwind-logo.png' %}">
                        tailwind
                    </span>
                </a>
        
                <!-- <span class="text-3xl cursor-pointer mx-2 md:hidden block">
                        <ion-icon name="menu-outline" onclick="Menu(this)"></ion-icon>
                    </span> -->
            </div>
            <div class="">
                <form method="get">
                    <input type="search" name="search" placeholder="Search" class="p-2 border border-slate-700 rounded bg-slate-900 focus:outline-none focus:border-sky-500">

                    <button type="submit" class="py-2 px-3 border border-slate-700 rounded">
                        <ion-icon name="search-outline"></ion-icon>
                    </button>
                </form>
            </div>
            <!-- <ul class="md:flex md:items-center z-[-1] md:z-auto md:static absolute 
                    bg-white w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7
                    md:opacity-100 opacity-0 top-[-400px] transition-all 
                    ease-in duration-500"> -->
            <!-- <ul class="md:flex md:items-center">
                    <li class="mx-4 my-2 md:my-0">
                        <a href="" class="text-xl hover:text-cyan-500 duration-500">HOME</a>
                    </li>
                    <li class="mx-4 my-2 md:my-0">
                        <a href="" class="text-xl hover:text-cyan-500 duration-500">ABOUT</a>
                    </li>
                    <li class="mx-4 my-2 md:my-0">
                        <a href="" class="text-xl hover:text-cyan-500 duration-500">SERVICES</a>
                    </li>
        
                    <button class="bg-cyan-400 text-white font-[Poppins] duration-500 px-6 py-2 mx-4 hover:bg-cyan-500 rounded mt-3 md:mt-0">
                        Get Started
                    </button>
                </ul> -->
        </nav>

        <div class="mt-4">
            {% block content %} {% endblock %}
        </div>
    </div>

    {% include 'layouts/js.html' %}
</body>
</html>
